<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Story of how I started loving, living and breathe programming.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/1.jpeg" alt="college">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Joined College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined <a href='https://jiit.ac.in' target='_blank'>Jaypee Institute of Information Technology</a>. I got my first taste of programming in the first year of my college life. The feeling of writing that first "Hello World" program in "Turbo C" made me realise that this is what I want to do for the rest of my life.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/2.png" alt="internships">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2018</h4>
                                    <h4 class="subheading">College Internships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first industrial experience(kind of) came at the starting of my third year and that helped me grow in a different vertical altogether. Stepping into the organisation level development is something I wasn't exposed to in my college life. Thanks to <a href='https://letstranzact.com/' target='_blank'>Tranzact</a> and <a href='https://www.squadvoice.in/' target='_blank'>Squad</a> for giving me this opportunity.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/3.png" alt="agrichain">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2018</h4>
                                    <h4 class="subheading">First Full Time Job</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After working in a start up environment, I started looking out for companies that would allow me to help build the tech from scratch. I joined one such startup and loved the environment and work pressure. Thanks <a href='https://agrichain.com/' target='_blank'>AgriChain</a> for giving me this wonderful opportunity and immense growth.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/4.png" alt="zomato">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Joined Zomato</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was a product of <a href='https://www.zomato.com/trialweek' target='_blank'>zomato's trial week</a>. I wanted to work for a company with a huge scale and that dealt with a large amount of data. I have joined zomato's logistics team as a software engineer and I couldn't be more pleased.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To Be
                                    <br>Continued 
                                    <br>...</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>